{% extends 'layouts/raw.html' %}
{% set cnav = "addanother" %}

{% block pageScript %}
	<script>
		new AddAnotherForm($('.addAnother'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	<form method="post" action="/examples/add-another/">
		<div class="addAnother">
			<h1 tabindex="-1" class="addAnother-heading">Expenses</h1>
			<div class="addAnother-item">
				{{textBox('items[0][description]', 'Description', { id: 'items[0][description]', attributes: 'data-name="items[%index%][description]" data-id="items[%index%][description]"' })}}

				{{textBox('items[0][amount]', 'Amount (£)', type='number', { id: 'items[0][amount]', attributes: 'data-name="items[%index%][amount]" data-id="items[%index%][amount]"' })}}


				<!-- {{radioButtons('choice', 'Favourite colour', [{
					label: 'Blue',
					id: 'choice',
					attributes: 'data-name="items[%index%][choice]" data-id="items[%index%][choice]"'
				}, {
					label: 'Red',
					id: 'choice1',
					attributes: 'data-name="items[%index%][choice]" data-id="items[%index%][choice1]"'
				}])}} -->
			</div>
			{{buttons.secondaryButton('Add another', 'add', {
				class: 'addAnother-addButton'
			})}}
		</div>

		{{buttons.primaryButton('Submit expenses', 'submitExpenses')}}
	</form>

{% endblock mainContent %}
