{% extends 'layouts/raw.html' %}
{% set cnav = "addanother" %}

{% block pageScript %}
	<script>
		new AddAnother($('.addAnother'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	<form method="post" action="/examples/add-another/">
		<div class="addAnother">
			<h1 class="h1 addAnother-heading" tabindex="-1">Expenses</h1>
			<div class="addAnother-item">
				{{textBox({
					label: 'Description',
					name: 'items[0][description]',
					id: 'items[0][description]',
					attributes: 'data-name="items[%index%][description]" data-id="items[%index%][description]"'
				})}}

				{{textBox({
					label: 'Amount (£)',
					name: 'items[0][amount]',
					type: 'number',
					id: 'items[0][amount]',
					attributes: 'data-name="items[%index%][amount]" data-id="items[%index%][amount]"'
				})}}


				<!-- {{radioButtons({
					name: 'choice',
					legend: 'Favourite colour',
					choices: [{
						label: 'Blue',
						id: 'choice',
						attributes: 'data-name="items[%index%][choice]" data-id="items[%index%][choice]"'
					}, {
						label: 'Red',
						id: 'choice1',
						attributes: 'data-name="items[%index%][choice]" data-id="items[%index%][choice1]"'
					}]
				})}} -->
			</div>
			{{secondaryButton({
				text: 'Add another',
				name: 'add',
				class: 'addAnother-addButton'
			})}}
		</div>

		{{primaryButton({
			text: 'Submit expenses',
			name: 'submitExpenses'
		})}}
	</form>

{% endblock mainContent %}
