{% extends 'layouts/raw.html' %}

{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
<script>
	// new FilterCollapser($('fieldset').eq(0));
	// new FilterCollapser($('fieldset').eq(1));
	// new FilterCollapser($('fieldset').eq(2));

	var form = $('.filter form');

	// $('.filter input').on('change', function() {
	// 	form.submit();
	// });

	// $('[type=checkbox]').on('click', function() {
	// 	form.submit();
	// });

	// $('[type=radio]').on('click', function() {
	// 	form.submit();
	// });

	$('.filter input').on('change', function() {
		history.pushState(form.serialize(), null, '/examples/filter-form?'+form.serialize());
		$.ajax({
			url: '/examples/filter-form',
      type: 'get',
      data: form.serialize(),
      error: function() {
      	console.log(arguments);
      },
      success: function(data){
      	updateFilterForm(data.query);
        console.log(data.products);
      }
		});
	});

	function updateFilterForm(query) {
		$('.filter input').prop('checked', false);
		Object.keys(query).forEach(function(key) {
			var controlValue = query[key];
			if($.isArray(controlValue)) {
				controlValue.forEach(function(value) {
					console.log(key, value);
					console.log('yay');
					$('.filter [name='+key+']').each(function(i, input) {
						console.log(input, value);
						if(input.value == value) {
							input.checked = true;
						}
					});
				});
			} else {
				console.log(key, controlValue);
				$('.filter [name='+key+']').each(function(i, input) {
					console.log(input, controlValue);
					if(input.value == controlValue) {
						input.checked = true;
					}
				});
			}
		});
	}

	window.addEventListener('popstate', function(e) {
		// make ajax request now otherwise it breaks

		$.ajax({
			url: '/examples/filter-form',
      type: 'get',
      data: e.state,
      error: function() {
      	console.log(arguments);
      },
      success: function(data){
      	updateFilterForm(data.query);
        console.log(data.products);
      }
		});

	});

</script>
{% endblock pageScript %}

{% block mainContent %}
		<h1>Wallets</h1>

		<div class="filter" aria-labelledby="filter-heading">
			<h2 id="filter-heading">Filter</h2>
			<!-- <div class="current-filters">
				<h3>Current filters</h3>
				<ul>
					<li><a href="">Color: Red (Remove)</a></li>
				</ul>
			</div> -->

		

			<form role="form" method="get" action="/examples/filter-form">

				<!-- {{buttons.secondaryButton('Apply filters')}} -->
				
				{{formElements.checkboxes('color', 'Color', [{
					label: 'Red',
					id: 'color',
					value: 'red',
					checked: true
				}, {
					label: 'Blue',
					id: 'color1',
					value: 'blue'
				},  {
					label: 'Green',
					id: 'color2',
					value: 'green'
				}])}}

				{{formElements.radioButtons('rating', 'Average rating', [{
					label: '4 stars and up',
					id: 'popularity0',
					value: '4'
				},  {
					label: '3 stars and up',
					id: 'popularity1',
					value: '3'
				}, {
					label: '2 stars and up',
					id: 'popularity2',
					value: '2'
				}, {
					label: '1 star and up',
					id: 'popularity3',
					value: '1'
				}])}}

				{{buttons.secondaryButton('Apply filters', 'apply')}}
			</form>
		</div>
		<div class="products">
			<h2>Products</h2>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
		</div>

{% endblock mainContent %}

{% block header %}
	<header style="clear: both;height: 100px; background: #ccc">
	</header>
{% endblock header %}

{% block footer %}
	<footer style="clear: both;height: 200px; background: #ccc">
	</footer>
{% endblock footer %}