{% extends 'layouts/raw.html' %}

{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
<script>
	new FilterCollapser($('fieldset').eq(0));
	new FilterCollapser($('fieldset').eq(1));
	new FilterCollapser($('fieldset').eq(2));
</script>
{% endblock pageScript %}

{% block mainContent %}
		<h1>Wallets</h1>

		<aside class="filter" aria-labelledby="filter-heading">
			<h2 id="filter-heading">Filter</h2>
			<!-- <div class="current-filters">
				<h3>Current filters</h3>
				<ul>
					<li><a href="">Color: Red (Remove)</a></li>
				</ul>
			</div> -->

		

			<form role="form" method="get">

				<!-- {{buttons.secondaryButton('Apply filters')}} -->
				
				{{formElements.checkboxes('colours', 'Colour', [{
					label: 'Red',
					id: 'colours',
					checked: true
				}, {
					label: 'Blue',
					id: 'colours1'
				},  {
					label: 'Green',
					id: 'colours2'
				}])}}

				{{formElements.checkboxes('size', 'Size', [{
					label: 'Small',
					id: 'size'
				}, {
					label: 'Medium',
					id: 'size1'
				},  {
					label: 'Large',
					id: 'size2'
				}])}}

				{{formElements.radioButtons('rating', 'Average rating', [{
					label: '4 stars and up',
					id: 'popularity0'
				},  {
					label: '3 stars and up',
					id: 'popularity1'
				}, {
					label: '2 stars and up',
					id: 'popularity2'
				}, {
					label: '1 star and up',
					id: 'popularity3'
				}])}}

				{{buttons.secondaryButton('Apply filters')}}
			</form>
		</aside>
		<div class="products">
			<h2>Products</h2>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
			<div class="product"></div>
		</div>
{% endblock mainContent %}