{% extends 'layouts/raw.html' %}

{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
<script>
	new PasswordRevealer(document.getElementById('password'));
</script>
{% endblock pageScript %}

{% block mainContent %}
		<h1>Login</h1>
		<p>Forgot/Register</p>
		<form method="post" action="/examples/login">
			
			{{formElements.textBox('email', 'Email address', type='email', {
				attributes: 'autocapitalize="none" autocorrect="off" spellcheck="false"'
			})}}

			{{formElements.textBox('password', 'Password', type='password')}}

			{{buttons.primaryButton('Sign in', 'signin')}}
		</form>

{% endblock mainContent %}