{% extends 'layouts/raw.html' %}

{% block pageScript %}
	<script>
		new Menu($('.menu'), { mq: '(min-width: 45em)' });
	</script>
{% endblock pageScript %}

{% block mainContent %}

	<div class="menu">
		<div class="menu-items" role="menubar">
			<input type="submit" name="archive" value="Archive" role="menuitem"> 
			<input type="submit" name="delete" value="Delete" role="menuitem"> 
			<input type="submit" name="spam" value="Mark as spam" role="menuitem"> 
		</div>
	</div>

	<div>
		Inbox emails
	</div>

{% endblock mainContent %}