{% extends 'layouts/raw.html' %}
{% set cnav = "payment" %}

{% block pageScript %}
	<script>
		var validator = new FormValidator(document.forms[0]);
		var collapser = new CheckboxCollapser($('#same'), $('.billingAddress'));
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{h1({text: 'Payment'})}}

	<form novalidate>
		{{textBox({
			name: 'cardnumber',
			label: 'Card number',
			hint: 'The long number on the front of your card'
		})}}
		{{textBox({
			name: 'expiry',
			label: 'Expiry date',
			hint: 'MMYY'
		})}}
		{{textBox({
			name: 'cvc',
			label: 'Card',
			hint: 'The last 3 numbers on the back of your card'
		})}}

		{{checkboxes({
			name: 'same',
			legend: 'Is your billing address the same as delivery?',
			choices: [{
				label: 'Yes, my billing address is the same',
				id: 'same',
				checked: true
			}]
		})}}

		<div class="billingAddress">
			{{textBox({
				name: 'address1',
				label: 'Street'
			})}}
			{{textBox({
				name: 'address2',
				label: 'Town'
			})}}
			{{textBox({
				name: 'postcode',
				label: 'Postcode'
			})}}
		</div>

		{{primaryButton({
			text: 'Continue',
			name: 'pay'
		})}}
	</form>

{% endblock mainContent %}