{% extends 'layouts/raw.html' %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "macros/navigation.html" as navigation %}

{% block pageScript %}
	<script>
		var validator = new FormValidator(document.forms[0]);
		validator.addValidator('email', [{
		 	method: function(field) {
		    	return field.value.trim().length > 0;
			},
			message: 'Enter your email address.'
		},{
			method: function(field) {
		    	return (field.value.indexOf('@') > -1);
		  	},
			message: 'You need to enter the ‘at’ symbol in the email address.'
		}]);
		validator.addValidator('password', [{
			method: function(field) {
		    	return field.value.trim().length > 0;
			},
			message: 'Enter your password.'
		}, {
			method: function(field) {
		    	return field.value.length > 8;
			},
			message: 'Your password must contain at least 8 characters.'
		}, {
			method: function(field) {
		    return /\d/.test(field.value);
			},
			message: 'Your password must contain at least one number.'
		}]);
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{headings.h1('Register')}}

	<ul>
		<li>Already got an account? <a href="/examples/signin-form">Sign in</a></li>
	</ul>

	{{formElements.errorSummary("There's a problem", [{
		fieldName: 'email',
		message: 'Enter your email address.'
	}, {
		fieldName: 'password',
		message: 'Enter your password.'
	}])}}

	<form novalidate>
		{{formElements.textBox('email', 'Email address', {error: 'Enter your email address.'})}}
		{{formElements.textBox('password', 'Password', type='password', {error: 'Enter your password.', hint: 'Must contain 8+ characters with at least 1 number.'})}}
		{{buttons.primaryButton('Register')}}
	</form>

{% endblock mainContent %}