{% extends 'layouts/base.html' %}
{% set cnav = "search-box" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block header %}
	<header class="searchHeader">
		<div>Header</div>
	</header>
	<div role="search">
		<form class="searchForm">
			{{formElements.textBox('search', 'Search products', type='search', {
				hint: 'For example, “black wallet”'
			})}}
			{{buttons.primaryButton('Search')}}
		</form>
	</div>
{% endblock header %}

{% block pageScript %}
	<script>
		new SearchForm();
	</script>
{% endblock pageScript %}