{% extends 'layouts/raw.html' %}
{% set cnav = "seat" %}

{% block pageScript %}
	<script>
		new CheckboxLimiter(2);
	</script>
{% endblock pageScript %}

{% block mainContent %}
	<form novalidate>

		{{seatChooser({
			name: 'seat',
			legend: 'Seat',
			rows: [{
				seats: [{
					label: '1A <span class="visually-hidden">Window</span>',
					id: 'seat',
					value: '1A'
				},{
					label: '1B <span class="visually-hidden">Isle</span>',
					id: 'seat1B',
					value: '1B',
					disabled: true
				},{
					label: '1C <span class="visually-hidden">Isle</span>',
					id: 'seat1C',
					value: '1C'
				},{
					label: '1D <span class="visually-hidden">Window</span>',
					id: 'seat1D',
					value: '1D'
				}]
			}, {
				seats: [{
					label: '2A <span class="visually-hidden">Window</span>',
					id: 'seat2A',
					value: '2A'
				},{
					label: '2B <span class="visually-hidden">Isle</span>',
					id: 'seat2B',
					value: '2B'
				},{
					label: '2C <span class="visually-hidden">Isle</span>',
					id: 'seat2C',
					value: '2C'
				},{
					label: '2D <span class="visually-hidden">Window</span>',
					id: 'seat2D',
					value: '2D'
				}]
			}, {
				seats: [{
					label: '3A <span class="visually-hidden">Window</span>',
					id: 'seat3A',
					value: '3A'
				},{
					label: '3B <span class="visually-hidden">Isle</span>',
					id: 'seat3B',
					value: '3B'
				},{
					label: '3C <span class="visually-hidden">Isle</span>',
					id: 'seat3C',
					value: '3C'
				},{
					label: '3D <span class="visually-hidden">Window</span>',
					id: 'seat3D',
					value: '3D'
				}]
			}],
			seatModifier: 'plane-seat--firstClass'
		})}}

	</form>


{% endblock mainContent %}