{% extends 'layouts/raw.html' %}
{% set cnav = "seat" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}

{% block pageScript %}
	<script>
		new SeatLimiter(2);
		new SeatLayoutEnhancer();
	</script>
{% endblock pageScript %}

{% block mainContent %}
	{{headings.h1('Choose seat')}}

	<form novalidate>

		{{formElements.seats('seat', 'Seat', [{
			seats: [{
				label: '1A <span class="vh">Window</span>',
				id: 'seat',
				value: '1A'
			},{
				label: '1B <span class="vh">Isle</span>',
				id: 'seat1B',
				value: '1B',
				disabled: true
			},{
				label: '1C <span class="vh">Isle</span>',
				id: 'seat1C',
				value: '1C'
			},{
				label: '1D <span class="vh">Window</span>',
				id: 'seat1D',
				value: '1D'
			}]
		}, {
			seats: [{
				label: '2A <span class="vh">Window</span>',
				id: 'seat2A',
				value: '2A'
			},{
				label: '2B <span class="vh">Isle</span>',
				id: 'seat2B',
				value: '2B'
			},{
				label: '2C <span class="vh">Isle</span>',
				id: 'seat2C',
				value: '2C'
			},{
				label: '2D <span class="vh">Window</span>',
				id: 'seat2D',
				value: '2D'
			}]
		}, {
			seats: [{
				label: '3A <span class="vh">Window</span>',
				id: 'seat3A',
				value: '3A'
			},{
				label: '3B <span class="vh">Isle</span>',
				id: 'seat3B',
				value: '3B'
			},{
				label: '3C <span class="vh">Isle</span>',
				id: 'seat3C',
				value: '3C'
			},{
				label: '3D <span class="vh">Window</span>',
				id: 'seat3D',
				value: '3D'
			}]
		}], {
			seatModifier: 'plane-seat--firstClass'
		})}}

		{{buttons.primaryButton('Continue')}}
	</form>


{% endblock mainContent %}