{% extends 'layouts/raw.html' %}
{% set cnav = "stepper" %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}

{% block pageScript %}
	<script>
		new Stepper(document.getElementById('adults'), {
			labelId: 'adults-label'
		});
		new Stepper(document.getElementById('children'), {
			labelId: 'children-label'
		});
		new Stepper(document.getElementById('infants'), {
			labelId: 'infants-label'
		});
	</script>
{% endblock pageScript %}

{% block pageHeader %}
{% endblock pageHeader %}

{% block mainContent %}
	{{formElements.textBox('adults', 'How many people aged 16 and over are flying?', type='number', {
		value: '0',
		attributes: 'min="0" max="9"',
		labelId: 'adults-label'
	})}}
	{{formElements.textBox('children', 'How many children, aged between 2 and 15 years old, are flying?', type='number', {
		value: '0',
		attributes: 'min="0" max="9"',
		labelId: 'children-label'
	})}}
	{{formElements.textBox('infants', 'How many infants, under 2 years old, are flying?', type='number', {
		value: '0',
		attributes: 'min="0" max="9"',
		labelId: 'infants-label'
	})}}

{% endblock mainContent %}
