{% extends 'layouts/raw.html' %}

{% block pageScript %}
	<script>
		var validator = new FormValidator(document.forms[0]);
		validator.addValidator('email', [{
		 	method: function(field) {
		    return field.value.trim().length > 0;
			},
			message: 'Enter your email address.'
		},{
			method: function(field) {
	    	return (field.value.indexOf('@') > -1);
	  	},
			message: 'You need to enter the ‘at’ symbol in the email address.'
		}]);
		validator.addValidator('notes', [{
			method: function(field) {
				return field.value.trim().length > 0;
			},
			message: 'Enter notes.'
		}]);
		validator.addValidator('like', [{
			method: function(field) {
				return field.value.trim().length > 0;
			},
			message: 'Select your favourite item.'
		}]);
	</script>
{% endblock pageScript %}

{% block mainContent %}

	{{headings.h1('Page title')}}

	{{errorSummary.errorSummary({heading: "There's a problem", errors: [{
		fieldName: 'email',
		message: 'Enter your email address.'
	}, {
		fieldName: 'document',
		message: 'The document is too large.'
	}, {
		fieldName: 'notes',
		message: 'Enter notes.'
	}, {
		fieldName: 'like',
		message: 'Select your favourite item.'
	}, {
		fieldName: 'colours',
		message: 'Select at least one favourite colour.'
	}, {
		fieldName: 'country',
		message: 'Choose a country.'
	}]})}}


	<form novalidate>
		{{formElements.textBox('email', 'Email address', {error: 'Enter your email address.'})}}

		{{formElements.fileInput('document', 'Upload file', {error: 'The document is too large.'})}}

		{{formElements.textarea('notes', 'Notes', {error: 'Enter notes.'})}}

		{{formElements.radioButtons('like', 'What do you like the most?', [{
			label: 'Chocolate',
			id: 'like',
			value: 'Chocolate'
		}, {
			label: 'Beer',
			id: 'like1',
			value: 'Beer'
		}], {error: 'Select your favourite item.'})}}

		{{formElements.checkboxes('colours', 'Favourite colours', [{
			label: 'Red',
			id: 'colours'
		}, {
			label: 'Blue',
			id: 'colours1'
		},  {
			label: 'Green',
			id: 'colours2'
		}], { error: 'Select at least one favourite colour.'})}}

		{{formElements.selectBox('country', 'Country',[{
			text: 'Select',
			value: ''
		}, {
			text: 'Brazil',
			value: 'Brazil'
		}], {error: 'Choose a country.'})}}

		{{buttons.primaryButton('Continue')}}
	</form>

{% endblock mainContent %}