.stepper {
	display: flex;
}

.stepper-removeButton,
.stepper-addButton {
	@include button($colour-black);
	padding-top: 10px;
	padding-bottom: 10px;
	line-height: 1.17em;
	font-size: 1.5em;
	vertical-align: bottom;
	color: $colour-white;
	&:hover {
		color: $colour-yellow;
	}
}

.stepper-removeButton {
	border-radius: 8px 0 0 8px;
	padding-right: 14px;
	padding-left: 16px;
}

.stepper-addButton {
	border-radius: 0 8px 8px 0;
	padding-left: 14px;
	padding-right: 16px;
}

.stepper input {
	display: inline-block;
	width: 4em;
	text-align: center;
	z-index: 2;
	position: relative;
}

.stepper input[type=number]::-webkit-inner-spin-button,
.stepper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
