.stepper {
	display: flex;
}

.stepper-removeButton,
.stepper-addButton {
	@include button($colour-gray-700);
	padding-top: $spacing-scale-2;
	padding-bottom: $spacing-scale-2;
	line-height: 1.17em;
	font-size: 1.5em;
	vertical-align: bottom;
	color: $colour-gray-100;
	&:hover {
		color: $colour-yellow-500;
	}
}

.stepper-removeButton {
	border-radius: $spacing-scale-2 0 0 $spacing-scale-2;
	padding-right: $spacing-scale-3 - 2;
	padding-left: $spacing-scale-3;
}

.stepper-addButton {
	border-radius: 0 $spacing-scale-2 $spacing-scale-2 0;
	padding-left: $spacing-scale-3 - 2;
	padding-right: $spacing-scale-3;
}

.stepper input[type=number]{
	display: inline-block;
	width: 4em;
	text-align: center;
	z-index: 2;
	position: relative;
	-moz-appearance: textfield;
	border-color: $colour-gray-700;
}

.stepper input[type=number]::-webkit-inner-spin-button,
.stepper input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
