.dropzone {
	margin-bottom: 40px;
}

.dropzone .field {
	margin-bottom: 20px;
}

.dropzone-enhanced {
	outline: 2px dashed #777;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 70px 40px 55px;
	max-width: 520px;
	transition: outline-offset .1s ease-in-out, background-color .1s linear;
}

.dropzone-enhanced .secondaryButton {
	display: none;
}

.dropzone .field-file {
	border: none;
	text-align: center;
}

.dropzone-enhanced [type=file] {
	position: absolute;
	left: -9999em;
}

.dropzone-enhanced .field-label {
	line-height: 1;
	font-size: 1em;
}

.dropzone-dragover {
	background: #eee;
	background: #333;
	outline: 2px dashed #111;
	outline: 2px dashed #f5f5f5;
	outline-offset: -10px;
}

.files {
	max-width: 600px;
	list-style: none;
	margin-left: 0;
	margin-bottom: 30px;
}

.files ul {
	list-style: none;
	margin: 0;
	border-top: 1px solid #ccc;
}

.files li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.file-name {
	display: inline-block;
	width: 100px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: top;
}

.files .error {
	color: #b10e1e;
	font-weight: bold;
}

.files .error svg {
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
  fill: #b10e1e;
}

.files .success {
	color: green;
	font-weight: bold;
}

.files .success svg {
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
  fill: green;
}

.files progress {
	width: 20%;
	margin-top: 4px;
}

.files button {
	@include secondaryButton;
	float: right;
	font-size: 1em;
	padding: 4px 8px;
}

.dropzone-enhanced label {
	@include secondaryButton;
	font-size: 1.2em;
	background-color: #ddd;
	color: $colour-black;
	font-weight: normal;
	// border-color: #bbb;
}

// .dropzone-enhanced label:hover {
// 	background-color: #bbb;
// }

.dropzone-focused {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow;
}