.dropzone {
	margin-bottom: 40px;
}

.dropzone .field {
	margin-bottom: 20px;
}

.dropzone-enhanced {
	outline: 2px dashed $colour-gray-800;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: center;
	padding: 70px 40px 55px;
	max-width: 520px;
	transition: outline-offset .1s ease-in-out, background-color .1s linear;
}

.dropzone-enhanced .secondaryButton {
	display: none;
}

.dropzone .field-file {
	border: none;
	text-align: center;
}

.dropzone-enhanced [type=file] {
	position: absolute;
	left: -9999em;
}

.dropzone-enhanced .field-label {
	line-height: 1;
	font-size: 1em;
}

.dropzone-dragover {
	background: $colour-gray-500;
	outline: 2px dashed $colour-gray-300;
	outline-offset: -10px;
}

.files {
	max-width: 600px;
	list-style: none;
	margin-left: 0;
	margin-bottom: 30px;
}

.files h2 {
	margin-bottom: 20px;
}

.files ul {
	list-style: none;
	margin: 0;
	// border-top: 1px solid $colour-gray-500;
}

.files li {
	padding-top: $spacing-scale-1;
	padding-bottom: $spacing-scale-1;
	border-bottom: 1px solid $colour-gray-500;
	overflow: hidden;
}

.file-name {
	float: left;
	width: 80px;
	margin-right: $spacing-scale-2;
	@include mq($from: md) {
		width: 160px;
	}
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.files .error {
	color: $colour-red-600;
	font-weight: bold;
	float: left;
	width: 150px;
	margin-right: $spacing-scale-2;
	overflow: hidden;
	text-overflow: ellipsis;
	@include mq($from: md) {
		width: 300px;
	}
}

.files .error svg {
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
	fill: $colour-red-600;
}

.files .success {
	color: $colour-green-600;
	font-weight: bold;
	float: left;
	width: 150px;
	margin-right: $spacing-scale-2;
	overflow: hidden;
	text-overflow: ellipsis;
	@include mq($from: md) {
		width: 300px;
	}
}

.files .success svg {
  margin-top: 3px;
  vertical-align: bottom;
  width: 1.5em;
  fill: $colour-green-600;
}

.files progress {
	width: 20%;
	margin-top: 4px;
}

.files button {
	@include secondaryButton;
	font-size: 1em;
	float: right;
}

.dropzone-enhanced label {
	@include secondaryButton;
	font-size: 1.2em;
	background-color: $colour-gray-300;
	color: $colour-gray-800;
	font-weight: normal;
}

.dropzone-enhanced label:hover {
	background-color: $colour-gray-500;
}

.dropzone-focused {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow-500;
}