.passwordRevealer {
	position: relative;

	input {
		padding-right: 70px;
	}

	button {
		@include button($colour-gray-100);
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		padding: 0;
		border-radius: 0;
		color: $colour-gray-300;
		width: 80px;
		background: $colour-gray-600;
	}
	button:hover {
		color: $colour-gray-100;
		background: $colour-gray-600;
	}

}