.passwordRevealer {
	position: relative;

	input {
		padding-right: 70px;
	}

	button {
		@include button(#000);
		position: absolute;
		right: 0;
		bottom: 0;
		padding: 8px 0;
		border-radius: 0;
		color: $colour-white;
		width: 80px;
	}
}