.passwordRevealer {
	position: relative;

	input {
		padding-right: 70px;
	}

	button {
		@include button($colour-white);
		position: absolute;
		top: 2px;
		right: 2px;
		bottom: 2px;
		padding: 8px 0;
		border-radius: 0;
		color: $colour-black;
		width: 80px;
	}
	button:hover {
		background: $colour-grey-light;
	}

}