{% extends 'layouts/item.html' %}

{% block title %}Buttons - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'buttons' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Buttons' })}}

	<p>Includes:</p>
	<ul>
		<li>Submit buttons (<code>&lt;input type="submit"&gt;</code> or <code>&lt;button type="submit"&gt;</code>)</li>
		<li>Buttons (<code>&lt;button type="button"&gt;</code>) - only applicable in progressively enhanced Javascript interfaces.</li>
	</ul>
	<p>Doesn't include:</p>
	<ul>
		<li>Links (<code>&lt;a&gt;</code>)</li>
		<li>Calls to action (links that are styled to look like buttons)</li>
	</ul>

	{{h2({ text: 'Primary button' })}}

	<div class="example">
		<iframe src="/examples/primary-button" width="400" height="140"></iframe>
		<p class="example-link"><a href="/examples/primary-button">Standalone</a></p>
	</div>

	{{h2({ text: 'Secondary button' })}}

	<div class="example">
		<iframe src="/examples/secondary-button" width="400" height="140"></iframe>
		<p class="example-link"><a href="/examples/secondary-button">Standalone</a></p>
	</div>
{% endblock mainContent %}