{% extends 'layouts/item.html' %}

{% block title %}Character countdown - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'character-countdown' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Character countdown' })}}

	<p>Use the Character Countdown component to inform users of how many characters they have left while typing.</p>

	{{example({
		url: '/examples/character-countdown',
		width: 400,
		height: 350
	})}}

{% endblock mainContent %}