{% extends 'layouts/item.html' %}

{% block title %}File picker - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'file-picker' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}


{% block mainContent %}
	{{h1({ text: 'File picker' })}}

	<p>Help users select a file for upload using the File Picker component.</p>

	<div class="example">
		<iframe src="/examples/file-picker" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/file-picker">Standalone</a></p>
	</div>

{% endblock mainContent %}