{% extends 'layouts/default.html' %}
{% set nav = "components" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}
	<h1>Components</h1>
	
	<ul>
		<li><a {% if cnav == 'autocomplete'%}class="active"{%endif%} href="/components/autocomplete">Autocomplete</a></li>
		<li><a {% if cnav == 'autocomplete'%}class="active"{%endif%} href="/components/buttons">Buttons</a></li>
		<li><a {% if cnav == 'characters-countdown'%}class="active"{%endif%} href="/components/character-countdown">Character countdown</a></li>
		<li><a {% if cnav == 'checkbox-group'%}class="active"{%endif%} href="/components/checkbox-group">Checkbox group</a></li>
		<li><a {% if cnav == 'date-picker-field'%}class="active"{%endif%} href="/components/date-picker">Date picker</a></li>
		<li><a {% if cnav == 'file-input'%}class="active"{%endif%} href="/components/file-picker">File picker</a></li>
		<li><a {% if cnav == 'memorable-date'%}class="active"{%endif%} href="/components/memorable-date">Memorable date</a></li>
		<li><a {% if cnav == 'menu'%}class="active"{%endif%} href="/components/menu">Menu</a></li>
		<li><a {% if cnav == 'radio-buttons'%}class="active"{%endif%} href="/components/radio-buttons">Radio buttons</a></li>
		<li><a {% if cnav == 'search-box'%}class="active"{%endif%} href="/components/search-box">Search box</a></li>
		<li><a {% if cnav == 'select-box'%}class="active"{%endif%} href="/components/select-box">Select box</a></li>
		<li><a {% if cnav == 'stepper'%}class="active"{%endif%} href="/components/stepper">Stepper</a></li>
		<li><a {% if cnav == 'textarea'%}class="active"{%endif%} href="/components/textarea">Textarea</a></li>
		<li><a {% if cnav == 'text-box'%}class="active"{%endif%} href="/components/text-box">Text box</a></li>
	</ul>
{% endblock mainContent %}