{% extends 'layouts/item.html' %}

{% block title %}Menu - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'menu' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Menu' })}}

	<p>Use the Menu component to group menu items together.</p>

	{{example({
		url: '/examples/menu',
		width: 400,
		height: 200
	})}}

	{{h2({ text: 'How it works' })}}
	<p>In large screens the menu items are laid out horizontally. In small screens, the menu items are collapsed inside a menu.</p>

{% endblock mainContent %}