{% extends 'layouts/item.html' %}

{% block title %}Radio buttons - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'radio-buttons' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}


{% block mainContent %}
	{{h1({ text: 'Radio buttons' })}}

	<p>Let users select one option by using the Radio Buttons component.</p>

	<div class="example">
		<iframe src="/examples/radio-buttons" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/radio-buttons">Standalone</a></p>
	</div>

{% endblock mainContent %}