{% extends 'layouts/item.html' %}

{% block title %}Radio buttons - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'seat-chooser' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}


{% block mainContent %}
	{{h1({ text: 'Seat chooser' })}}

	<p>Let users select one or more plane seats. Pattern applicable for theatre or cinema tickets.</p>

	<div class="example">
		<iframe src="/examples/seat-chooser" width="400" height="500"></iframe>
		<p class="example-link"><a href="/examples/seat-chooser">Standalone</a></p>
  </div>

  <div class="example">
		<iframe src="/examples/seat-chooser--nested" width="400" height="800"></iframe>
		<p class="example-link"><a href="/examples/seat-chooser--nested">Standalone</a></p>
	</div>

{% endblock mainContent %}