{% extends 'layouts/item.html' %}

{% block title %}Select box - Components{% endblock %}

{% set nav = 'components' %}
{% set cnav = 'select-box' %}

{% block menu %}
	{% include "partials/components-nav.html" %}
{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Select box' })}}

	<p>Let users select one option from a list.</p>
	<p><a href="https://www.youtube.com/watch?v=CUkMCQR4TpY">Use the Select box component as a last resort</a>.</p>

	{{example({
		url: '/examples/select-box',
		width: 400,
		height: 200
	})}}

{% endblock mainContent %}