{% extends 'layouts/default.html' %}

{% block title %}Textarea - Components{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Textarea' })}}

	<p>Use the Textarea component to let users type more than a single line of text.</p>

	<div class="example">
		<iframe src="/examples/textarea" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/textarea">Standalone</a></p>
	</div>
	<div class="html">
	<pre>{{""+textarea({ name: 'delivery', label: 'Delivery notes' })}}</pre>
	</div>

{% endblock mainContent %}