{% extends 'layouts/default.html' %}

{% block title %}Text field - Components{% endblock %} 

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}

{% block mainContent %}
	{{headings.h1('Text field')}}
	<p>Use this to create different types of text input.</p>

	{{headings.h2('Text field')}}
	<div class="example">
		<iframe src="/examples/text-field" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/text-field">Standalone</a></p>
	</div>

	{{headings.h2('Password field')}}
	<div class="example">
		<iframe src="/examples/password-field" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/password-field">Standalone</a></p>
	</div>

	{{headings.h2('Email field')}}
	<div class="example">
		<iframe src="/examples/email-field" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/email-field">Standalone</a></p>
	</div>

	{{headings.h2('Search field')}}
	<div class="example">
		<iframe src="/examples/search-field" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/search-field">Standalone</a></p>
	</div>


{% endblock mainContent %}