{% extends 'layouts/default.html' %}

{% block title %}Textarea - Components{% endblock %}

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}

{% block mainContent %}
	{{headings.h1('Textarea')}}

	<p>Use the Textarea component to let users type more than a single line of text.</p>

	<div class="example">
		<iframe src="/examples/textarea" width="400" height="200"></iframe>
		<p class="example-link"><a href="/examples/textarea">Standalone</a></p>
	</div>
	<div class="html">
	<pre>{{""+formElements.textarea('delivery', 'Delivery notes')}}</pre>
	</div>

{% endblock mainContent %}