{% extends 'layouts/default.html' %}

{% block title %}Colours - Styles{% endblock %}

{% block mainContent %}
	{{h1('Colours')}}


	<h2>Text (#222)</h2>
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #222"></p>

	<h2>Primary button (#0074D9)</h2>
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #0074D9"></p>

	<h2>Primary button - hover (#005096)</h2>
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #005096"></p>

	<h2>Secondary button (#ddd)</h2>
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #ddd"></p>

	<h2>Focus (#ffbf47)</h2>
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #ffbf47"></p>

		<h2>Error (#B10E1E)</h2>
		<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #B10E1E"></p>

{% endblock mainContent %}