{% extends 'layouts/item.html' %}

{% block title %}Colours - Styles{% endblock %}

{% set nav = 'styles' %}
{% set snav = 'colours' %}

{% block menu %}
	{% include "partials/style-nav.html" %}
{% endblock %}

{% block mainContent %}
	{{h1({ text: 'Colours' })}}

	{{h2({ text: 'black: #222222' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #222222"></p>
	{{h2({ text: 'white: #ffffff' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #ffffff"></p>
	{{h2({ text: 'blue: #0074D9' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #0074D9"></p>
	{{h2({ text: 'grey: #bbbbbb' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #bbbbbb"></p>
	{{h2({ text: 'grey-medium: #dddddd' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #dddddd"></p>
	{{h2({ text: 'grey-light: #f5f5f5' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #f5f5f5"></p>
	{{h2({ text: 'grey-extra-light: #f9f9f9' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #f9f9f9"></p>
	{{h2({ text: 'yellow: #ffbf47' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #ffbf47"></p>
	{{h2({ text: 'red: #B00F1F' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #B00F1F"></p>
	{{h2({ text: 'darkblue: #005EA5' })}}
	<p style="display: inline-block;height: 50px; width: 50px; border-radius: 50%; background-color: #005EA5"></p>

{% endblock mainContent %}