{% macro textarea(name, label, options) %}
<div class="field">
  <label for="{{name}}">
    <span class="field-label">{{label}}</span>
    {%- if options.hint %}
      <span class="field-hint">{{options.hint}}</span>
    {% endif %}
    {%- if options.error %}
      <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
    {% endif %}
  </label>
  <textarea id="{{name}}" name="{{name}}" {% if options.error %}aria-invalid="true"{%endif%}>{{options.value}}</textarea>
</div>
{% endmacro %}

{% macro selectBox(name, label, choices, options) %}
  <div class="field">
    <label for="{{name}}">
      <span class="field-label">{{label}}</span>
      {% if options.hint %}
        <span class="field-hint">{{options.hint}}</span>
      {% endif %}
      {% if options.error %}
        <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
      {% endif %}
    </label>
    <select id="{{name}}" name="{{name}}" {% if options.error %}aria-invalid="true"{%endif%}>
      {% for choice in choices %}
        <option value="{{choice.value}}" {% if choice.selected%}selected{% endif %} {% if choice.alt%}data-alt="{{choice.alt}}"{% endif %}>{{choice.text}}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro datalist(name, label, choices, options) %}
  <div class="field">
    <label for="{{name}}">
      <span class="field-label">{{label}}</span>
      {% if options.hint %}
        <span class="field-hint">{{options.hint}}</span>
      {% endif %}
      {% if options.error %}
        <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
      {% endif %}
    </label>
    <input type="search" id="{{name}}" name="{{name}}" {% if options.error %}aria-invalid="true"{%endif%} list="{{name}}_list">
    <datalist id="{{name}}_list">
      {% for choice in choices %}
        <option value="{{choice.text}}">
      {% endfor %}
    </datalist>
  </div>
{% endmacro %}

{% macro radioButtons(name, legend, choices, options) %}
<fieldset class="field" {% if options.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{legend}}</span>
    {% if options.hint %}
      <span class="field-hint">{{options.hint}}</span>
    {% endif %}
    {% if options.error %}
      <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
    {% endif %}
  </legend>
  <div class="field-options">
    {% for choice in choices %}
      <div class="field-radioButton">
        <label for="{{choice.id}}">
          <input type="radio" name="{{name}}" value="{{choice.value}}" id="{{choice.id}}"

          {% if choice.attributes %}{{choice.attributes | safe}}{%endif%}

          {% if choice.checked %}checked{% endif %}>
          {{choice.label}}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
{% endmacro %}

{% macro checkboxes(name, legend, choices, options) %}
<fieldset class="field" {% if options.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{legend}}</span>
    {% if options.hint %}
      <span class="field-hint">{{options.hint}}</span>
    {% endif %}
    {% if options.error %}
      <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
    {% endif %}
  </legend>
  <div class="field-options">
    {% for choice in choices %}
      <div class="field-checkbox">
        <label for="{{choice.id}}">
          <input
            type="checkbox"
            name="{{name}}"
            value="{{choice.value}}"
            id="{{choice.id}}"
            {% if choice.disabled %}disabled{% endif%}
            {% if choice.attributes %}{{choice.attributes | safe}}{%endif%}
            {% if choice.checked %}checked{% endif%}>
          {{choice.label}}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>
{% endmacro %}

{% macro seats(name, legend, rows, options) %}
<fieldset class="field" {% if options.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{legend}}</span>
    {% if options.hint %}
      <span class="field-hint">{{options.hint | safe}}</span>
    {% endif %}
    {% if options.error %}
      <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
    {% endif %}
  </legend>
  {% for row in rows %}
    <div class="plane-row">
      {% for choice in row.seats %}
        <div class="plane-seat {{options.seatModifier}} {% if choice.disabled %}plane-seat-isTaken{% endif%}">
          <label for="{{choice.id}}">
            <input
              type="checkbox"
              name="{{name}}"
              value="{{choice.value}}"
              id="{{choice.id}}"
              {% if choice.disabled %}disabled{% endif%}
              {% if choice.checked %}checked{% endif%}>
            <span class="plane-seatNumber">{{choice.label | safe}}</span>
          </label>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</fieldset>
{% endmacro %}

{% macro memorableDateField(legend, options) %}
<fieldset class="field" {% if options.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{legend}}</span>
    {% if options.hint %}
      <span class="field-hint">{{options.hint}}</span>
    {% endif %}
    {% if options.error %}
      <span class="field-error"><svg width="1.5em" height="1.5em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#warning-icon"></use></svg> {{-options.error}}</span>
    {% endif %}
  </legend>
  {% if options.day %}
    <div class="field-dayWrapper">
      <label for="{{options.day.name}}">{{options.day.label}}</label>
      <input class="field-dayBox" type="text" pattern="[0-9]*" name="{{options.day.name}}" value="{{options.day.value}}" id="{{options.day.name}}" min="0" max="31">
    </div>
  {% endif %}
  {% if options.month %}
    <div class="field-monthWrapper">
      <label for="{{options.month.name}}">{{options.month.label}}</label>
      <input class="field-monthBox" type="text" pattern="[0-9]*" name="{{options.month.name}}" value="{{options.month.value}}" id="{{options.month.name}}" min="0" max="12">
    </div>
  {% endif %}
  {% if options.year %}
    <div class="field-yearWrapper">
      <label for="{{options.year.name}}">{{options.year.label}}</label>
      <input class="field-yearBox" type="text" pattern="[0-9]*" name="{{options.year.name}}" value="{{options.year.valye}}" id="{{options.year.name}}" min="0" max="2050">
    </div>
  {% endif %}
</fieldset>
{% endmacro %}


