{% extends 'layouts/item.html' %}

{% block title %}Add another - Patterns{% endblock %}

{% set nav = 'patterns' %}
{% set pnav = 'add-another' %}

{% block menu %}
	{% include "partials/patterns-nav.html" %}
{% endblock %}

{% block mainContent %}

	{{h1({ text: 'Add another' })}}
	<p>Use this when you users need to any many items in bulk</p>

	<div class="example">
		<iframe src="/examples/add-another" width="400" height="600"></iframe>
		<p class="example-link"><a href="/examples/add-another">Standalone</a></p>
	</div>
{% endblock mainContent %}