{% extends 'layouts/default.html' %}
{% set cnav = "tbd" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}

	{{headings.h1('Add another')}}
	<p>There are three patterns for adding another item:</p>
	<ul>
		<li>Dynamic form</li>
		<li>Ever present form</li>
		<li>One Thing Per Page flow</li>
	</ul>

	{{headings.h2('Dynamic form')}}

	<div class="example">
		<iframe src="/examples/add-another-form" width="400" height="400"></iframe>
		<p><a href="/examples/add-another-form">Standalone</a></p>
	</div>

	{{headings.h2('Persistent form')}}
	<p>Not yet</p>

	{{headings.h2('One Thing Per Page flow')}}
	<p>Not yet</p>

{% endblock mainContent %}