{% extends 'layouts/default.html' %}
{% set cnav = "tbd" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}

	{{headings.h1('Asking for dates')}}

	{{headings.h2('Date picker')}}	
	<p>This picker is only applied if the browser doesn't provide its own native picker.</p>
	<div class="example">
		<iframe src="/examples/date-picker" width="400" height="200"></iframe>
		<p><a href="/examples/date-picker">Standalone</a></p>
	</div>

	{{headings.h2('Memorable date')}}	
	<div class="example">
		<iframe src="/examples/memorable-date" width="400" height="200"></iframe>
		<p><a href="/examples/memorable-date">Standalone</a></p>
	</div>

{% endblock mainContent %}