{% extends 'layouts/default.html' %}
{% set nav = "patterns" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}
	<h1>Patterns</h1>

	<p>Ask users for</p>
	<ul>
		<li><a href="/patterns/payment/">Payment</a></li>
		<li><a href="/patterns/dates/">Dates</a></li>
	</ul>

	<p>Help users</p>
	<ul>
		<li><a href="/patterns/add-another/">Add multiple items</a></li>
		<li><a href="/patterns/seats/">Select a seat</a></li>
		<li><a href="/patterns/upload/">Upload a file</a></li>
		<li><a href="/patterns/validation/">Recover from errors</a></li>
	</ul>

	<p>Pages</p>
	<ul>
		<li><a href="#">Task list</a></li>
		<li><a href="#">Confirmation</a></li>
		<li><a href="#">Review order</a></li>
	</ul>
{% endblock mainContent %}