{% extends 'layouts/default.html' %}

{% block title %}Upload a file - Patterns{% endblock %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}

	{{h1('Upload')}}

	{{h2('Dropzone')}}
	<p>Uses the ever present form pattern</p>
	<div class="example">
		<iframe src="/examples/dropzone" width="400" height="400"></iframe>
		<p class="example-link"><a href="/examples/dropzone">Standalone</a></p>
	</div>

	{{h2('Download to upload')}}
	<p>Download a thing, make edits, upload it again</p>
	<div class="example">
		<iframe src="/examples/download-to-upload" width="400" height="400"></iframe>
		<p class="example-link"><a href="/examples/download-to-upload">Standalone</a></p>
	</div>


{% endblock mainContent %}