.example {
	margin-bottom: $spacing-scale-5;
	overflow: hidden;
	position: relative;
	max-width: 760px;
}

.example iframe {
	width: 100%;
	border: 1px solid $colour-grey;
	box-sizing: border-box;
	display: block;
}

.example-link {
	position: absolute;
	top: 1px;
	right: 1px;
	background-color: $colour-black;
	margin-bottom: 0;
	padding: $spacing-scale-1 $spacing-scale-2;

	a {
		color: $colour-yellow;
		font-size: em(14);
	}
}