.addAnother {
	margin-bottom: 50px;
}

.addAnother-heading {
	outline: none;
	margin-bottom: 40px;
}

.addAnother-item:first-child {
	border-top: 1px solid #aaa;
}

.addAnother-item {
	position: relative;
	border-bottom: 1px solid #aaa;
	margin-bottom: 20px;
	padding: 20px 0px 0px;
}

.addAnother-removeButton {
	position: absolute;
	top: 20px;
	right: 20px;
}