.autocomplete {
    position: relative;
}

.autocomplete-textBox {
    -webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #222;
}

.autocomplete-isFocused {
    outline-offset: 0;
    outline: 3px solid #ffbf47;
}

.autocomplete-button {
    position: absolute;
    right: .1em;
    top: .1em;
    -webkit-appearance: none;
    border: none;
    background-color: #fff;
    font-size: 2em;
    line-height: 0.8em;
    padding: .1em .35em;
    overflow: hidden;
}

.autocomplete-downArrow {
    /*position: absolute;
    right: .1em;
    top: .1em;
    -webkit-appearance: none;
    border: none;
    background-color: #fff;
    font-size: 2em;
    line-height: 0.8em;*/


    position: absolute;
    right: 0.6em;
    width: 1.5em;
    height: 1.5em;
    top: 0.8em;
    color: #222;
}

.autocomplete-options {
    margin: 0;
    max-height: 12em;
    overflow-y: auto;
    overflow-y: scroll; /* has to be scroll, not auto */
  	-webkit-overflow-scrolling: touch;
    position: relative;
    font-size: 100%;
    padding: 0;
    position: absolute;
    top: 2.3em;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 2;
    border: 2px solid #222;
}

.autocomplete-option {
    line-height: 22px;
    padding: 0.5em;
    display: block;
    border-bottom: 2px solid #ccc;
    outline: none;
}

.autocomplete-optionNoResults {
    line-height: 22px;
    padding: 0.5em;
    display: block;
    border-bottom: 2px solid #ccc;
    cursor: not-allowed;
}

.autocomplete-option:hover,
.autocomplete-option-isActive {
    background-color: #005EA5;
    border-color: #005EA5;
    color: white;
}

.autocomplete-options-isHidden {
    display: none;
}

.autocomplete-status {
    position: absolute;
    left: -9999em;
}