/**************************************
* General
**************************************/

fieldset {
	border: none;
	padding: 0;
}

.field {
	max-width: 32em;
	margin-bottom: 2em;
}

.field--inline {
    margin-bottom: 0;
    display: inline-block;
    max-width: auto;
}

.field label,
.field legend {
	font-size: 1.2em;
	margin-bottom: 6px;
	display: block;
}

.field-label {
	display: block;
	font-weight: bold;
}

.field-legend {
	display: block;
	font-weight: bold;
}

.field-hint {
	color: #000;
	margin-bottom: 2px;
	display: block;
}

.field-error {
	color: #b10e1e;
	font-weight: bold;
	margin-bottom: 2px;
    display: block;
}

.field-error svg {
    margin-top: 3px;
    vertical-align: bottom;
    width: 1.8rem;
    height: auto;
    fill: #b10e1e;
}

/**************************************
* Select box
**************************************/

select {
	width: 100%;
	font-size: 1.1em;
}

/**************************************
* Text box
**************************************/

[type=text],
[type=password],
[type=number],
[type=tel],
[type=email],
[type=date],
[type=search],
textarea {
    width: 100%;
    padding: 0.5em;
    line-height: 1.25;
    font-size: inherit;
    font-family: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid #222;
    /*border:inset 2px #EBE9ED;
    border-right:solid 2px #eee;
    border-bottom:solid 2px #eee;*/
}

/**************************************
* File input
**************************************/

[type=file] {
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #eee;
    background-color: #eee;
    width: 100%;
}

[type=file]:hover {
    border: 2px solid #222;
}

/**************************************
* Textarea
**************************************/

textarea {
    height: 10em;
}

/**************************************
* Radio buttons
**************************************/

.field-radioButton label {
    background-color: #eee;
    margin-bottom: 7px;
    display: block;
    padding: 0.7em 1.2em;
    border: 2px solid #eee;
}

.field-radioButton input {
    margin-right: 10px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

.field-radioButton label:hover {
    border-color: #222;
}

/**************************************
* Radio buttons
**************************************/

.field-checkbox label {
    background-color: #eee;
    border: 2px solid #eee;
    margin-bottom: 7px;
    display: block;
    padding: 0.7em 1.2em;
    border: 2px solid #eee;
}

.field-checkbox input {
	margin-right: 10px;
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
}

.field-checkbox label:hover {
    border-color: #222;
}

/**************************************
* Date
**************************************/

.field-dayWrapper,
.field-monthWrapper,
.field-yearWrapper {
	display: inline-block;
}

.field-dayWrapper,
.field-monthWrapper {
	width: 4em;
}

.field-yearWrapper {
	width: 5em;
}


.field-dayWrapper label,
.field-monthWrapper label,
.field-yearWrapper label {
	display: block;
}

.field-dayBox,
.field-monthBox,
.field-yearBox {
	-webkit-appearance: none;
    border-radius: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: inherit;
    font-family: inherit;
    line-height: 1.25;
    padding: 0.5em;
    border: 2px solid #222;
    -moz-appearance:textfield;
}

.field-dayBox {
	width: 3em;
}

.field-monthBox {
	width: 3em;
}

.field-yearBox {
	width: 4.5em;
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}*/

/**************************************
* Focus
**************************************/

[type=text]:focus,
[type=password]:focus,
[type=number]:focus,
[type=tel]:focus,
[type=email]:focus,
[type=date]:focus,
[type=radio]:focus,
[type=checkbox]:focus,
[type=file]:focus,
[type=search]:focus,
[type=submit]:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 1px 4px #ffbf47;
}

/**************************************
* Width overrides
**************************************/

#expiry {
	width: 5em;
}

#cvc {
	width: 4em;
}

#postcode {
    width: 8em;
}

#tdate {
    width: 10em;
}