.errorSummary {
	border: 4px solid $colour-red;
	padding: 12px;
	margin-bottom: 32px;
	max-width: 40em;
}

.errorSummary h2 {
	margin-top: 0;
}

.errorSummary:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow;
}

.errorSummary-isHidden {
	display: none;
}

.errorSummary h2 {
	margin-bottom: 8px;
}

.errorSummary ul {
	color: $colour-red;
	list-style: none;
  margin-left: 0;
	margin-bottom: 0;
	font-size: 1.125em;
}

.errorSummary a {
	color: $colour-red;
	font-weight: bold;
}

.errorSummary a:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow;
}