.errorSummary {
	border: 4px solid $colour-red-600;
	padding: $spacing-scale-4 - 4;
	margin-bottom: $spacing-scale-4;
	max-width: 40em;
}

.errorSummary h2 {
	margin-top: 0;
	color: $colour-gray-800;
}

.errorSummary:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow-500;
}

.errorSummary h2 {
	margin-bottom: $spacing-scale-2;
}

.errorSummary ul {
	@include typography(body);
	color: $colour-red-600;
	list-style: none;
  margin-left: 0;
	margin-bottom: 0;
}

.errorSummary a {
	color: $colour-red-600;
	font-weight: bold;
}

.errorSummary a:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow-500;
}