/**********************************************************
* Open Sans
**********************************************************/

@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
		url('/public/fonts/OpenSans/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/OpenSans/OpenSans-Italic.woff2') format('woff2'),
		url('/public/fonts/OpenSans/OpenSans-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/OpenSans/OpenSans-Bold.woff2') format('woff2'),
		url('/public/fonts/OpenSans/OpenSans-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/public/fonts/OpenSans/OpenSans-BoldItalic.woff2') format('woff2'),
		url('/public/fonts/OpenSans/OpenSans-BoldItalic.woff') format('woff');
	font-weight: bold;
	font-style: italic;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  font-size: 100%;
}

a:link, a:visited {
	color: $colour-blue;
}

@mixin clearfix {
  &:after {
    visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
  }
}

.visually-hidden {
	border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

h1 {
	font-size: 48px;
	line-height: 1.16667;
	margin-bottom: 24px;
	color: $colour-black;
}

h2 {
	font-size: 36px;
	line-height: 1.33333;
	margin-bottom: 16px;
	color: $colour-black;
}

p {
	font-size: 16px;
  line-height: 1.5;
	margin-bottom: 24px;
}

ul {
	margin-bottom: 24px;
	margin-left: 24px;
}

li {
	margin-bottom: 4px;
	font-size: 1em;
  line-height: 1.5;
}

.html {
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.5em;
  overflow: auto;
  position: relative;
}

.hidden {
	display: none;
}

#adults,
#children,
#infants {
	width: 50px;
}

input[id$="[amount]"] {
	width: 100px;
}

.introBits {
	display: grid;
	max-width: 40em;
	grid-template-columns: repeat(auto-fit, minmax(304px, 2fr));
	grid-gap: 0 16px;
}

.pageContent {
	padding: 48px 40px;
}

.pageContent p {
	max-width: 30em;
}