* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open sans', helvetica, arial, sans-serif;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
  font-size: 100%;
}

a:link, a:visited {
	color: $colour-blue;
}

@mixin clearfix {
  &:after {
    visibility: hidden;
	  display: block;
	  font-size: 0;
	  content: " ";
	  clear: both;
	  height: 0;
  }
}

.visually-hidden {
	border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
}

.html {
  border: 1px solid #bfc1c3;
  margin-top: 15px;
  margin-bottom: 40px;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  font-size: 1.5em;
  overflow: auto;
  position: relative;
}

.hidden {
	display: none;
}

#adults,
#children,
#infants {
	width: 50px;
}

input[id$="[amount]"] {
	width: 100px;
}

.introBits {
	display: grid;
	max-width: 40em;
	grid-template-columns: repeat(auto-fit, minmax(304px, 2fr));
	grid-gap: 0 16px;
}

.introBits > div {
	display: grid;
	grid-template-rows: min-content auto min-content;
}

.pageContent {
	padding: $spacing-scale-4 $spacing-scale-2;
	@include mq($from: md) {
		padding: $spacing-scale-8 $spacing-scale-4;
	}
}

.h1, .prose h1 {
	@include typography(xl);
	margin-bottom: $spacing-scale-3;
	color: $colour-black;
	max-width: 15em;
}

.h2, .prose h2 {
	@include typography(l);
	margin-bottom: $spacing-scale-2;
	color: $colour-black;
	max-width: 20em;
}

.p, .prose p {
	@include typography(body);
	margin-bottom: $spacing-scale-4;
	max-width: 30em;
}

.list, .prose ul {
	margin-bottom: $spacing-scale-4;
	margin-top: $spacing-scale-3;
	padding-left: $spacing-scale-3;
	max-width: 30em;
}

.listItem, .prose li {
	@include typography(body);
	margin-bottom: $spacing-scale-1;
}