@mixin button($bg) {
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1.2em;
	padding: 10px 25px;
	border-radius: 25px;
	background-color: $bg;
	&:hover {
		background-color: darken($bg, 15%);
	}
}

/**************************************
* Primary button
**************************************/

.primaryButton {
	@include button($colour-blue);
	color: white;
}

/**************************************
* Secondary button
**************************************/

@mixin secondaryButton {
	@include button($colour-grey);
}

.secondaryButton {
	@include secondaryButton;
} 