@mixin button($bg) {
	border: none;
	appearance: none;
	-webkit-appearance: none;
	font-size: 1.125em;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: $bg;
	&:hover {
		background-color: darken($bg, 15%);
	}
}

/**************************************
* Primary button
**************************************/

.primaryButton {
	@include button($colour-blue);
	color: white;
}

/**************************************
* Secondary button
**************************************/

@mixin secondaryButton {
	@include button($colour-grey-medium);
}

.secondaryButton {
	@include secondaryButton;
}