$colour-black: #222222;
$colour-white: #fff;
$colour-blue: #0074D9;
$colour-grey: #bbbbbb;
$colour-grey-medium: #dddddd;
$colour-grey-light: #f5f5f5;
$colour-grey-extra-light: #f9f9f9;
$colour-yellow: #ffbf47;
$colour-red: #B00F1F;
$colour-darkblue: #005EA5;