$colour-gray-100: #F7FAFC;
$colour-gray-200: #EDF2F7;
$colour-gray-300: #E2E8F0;
$colour-gray-400: #CBD5E0;
$colour-gray-500: #A0AEC0;
$colour-gray-600: #718096;
$colour-gray-700: #4A5568;
$colour-gray-800: #2D3748;
$colour-gray-900: #1A202C;

$colour-red-100: #FFF5F5;
$colour-red-200: #FED7D7;
$colour-red-300: #FEB2B2;
$colour-red-400: #FC8181;
$colour-red-500: #F56565;
$colour-red-600: #E53E3E;
$colour-red-700: #C53030;
$colour-red-800: #9B2C2C;
$colour-red-900: #742A2A;

$colour-green-100: #F0FFF4;
$colour-green-200: #C6F6D5;
$colour-green-300: #9AE6B4;
$colour-green-400: #68D391;
$colour-green-500: #48BB78;
$colour-green-600: #38A169;
$colour-green-700: #2F855A;
$colour-green-800: #276749;
$colour-green-900: #22543D;


$colour-yellow-100: #FFFFF0;
$colour-yellow-200: #FEFCBF;
$colour-yellow-300: #FAF089;
$colour-yellow-400: #F6E05E;
$colour-yellow-500: #ECC94B;
$colour-yellow-600: #D69E2E;
$colour-yellow-700: #B7791F;
$colour-yellow-800: #975A16;
$colour-yellow-900: #744210;