.dropzone {
	margin-bottom: 40px;
}

.dropzone .field {
	margin-bottom: 20px;
}

.dropzone--enhanced {
	outline: 2px dashed #777;
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 70px 40px 55px;
	max-width: 520px;
	background-color: #f9f9f9;
	transition: outline-offset .1s ease-in-out, background-color .1s linear;
}

.dropzone--enhanced .secondaryButton {
	display: none;
}

.dropzone .field-file {
	border: none;
	text-align: center;
}

.dropzone--enhanced [type=file] {
	position: absolute;
	left: -9999em;
}

.dropzone--enhanced .field-label {
	line-height: 1.6em;
}

.dropzone--dragOver {
	background: #eee;
	background: #333;
	outline: 2px dashed #111;
	outline: 2px dashed #f5f5f5;
	outline-offset: -10px;
}

.fileList {
	max-width: 600px;
	list-style: none;
	margin-left: 0;
	margin-bottom: 30px;
}

.fileList ul {
	list-style: none;
	margin: 0;
	border-top: 1px solid #ccc;
}

.fileList li {
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

.fileList-file a {
	display: block;
}

.fileList-name {
	float: left;
	width: 40%;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.fileList progress {
	width: 20%;
	margin-top: 4px;
}

.fileList button {
	float: right;
	font-size: 1em;
	padding: 4px 8px;
}

.attach {
	@include button;
	font-size: 1em;
	background-color: #ddd;
	color: #222;
	font-weight: normal;
	border-color: #bbb;
}

.attach:hover {
	background-color: #bbb;
}

.dropzone--focused .attach {
	outline: none;
  box-shadow: 0 0 1px 4px #ffbf47;
}

