.search {
  @include clearfix;
}

.filter {
	text-align: right;
	@media(min-width: 50em) {
		float: left;
		width: 20%;
		box-sizing: border-box;
		text-align: left;
		margin-right: 20px;
	}
}

.enhanced .filter {
	position: sticky;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	margin-bottom: 20px;
	@media(min-width: 50em) {
		padding-top: 0;
		border-bottom: none;
		position: static;
	}
}

.filter-wrapper {
	padding-top: 20px;
	background-color: #fff;
	// margin-top: 10px;
	text-align: left;
}

.enhanced .filter-wrapper {
	position: absolute;
	border: 1px solid #ccc;
	padding: 10px;
	top: 63px;
	right: -1px;
	// max-height: 45vh;
	width: 200px;
	overflow: scroll;
}

@media(min-width: 50em) {
	.enhanced .filter-wrapper {
		position: static;
		border: none;
		padding: 0;
		overflow: auto;
		max-height: 100%;
		max-width: 100%;
	}
}

.filter h2 {
	margin-top: 0;
	margin-bottom: 30px;
}

.products {
	box-sizing: border-box;
	@media(min-width: 50em) {
		float: left;
		width: 75%;
	}

	h2 {
		margin-top: 0;
	}
}

.products-wrapper {
	display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  margin-bottom: 30px;
  @media(min-width: 50em) {
  	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.product {
	background-color: #eee;
	height: 200px;
}

.filter .field {
	margin-bottom: 0;
}

.filter .field-options {
	margin-bottom: 30px;
}

.filter legend {
	display: block;
	width: 100%;
}

.filter legend button {
	all: inherit;
	border: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.filter legend button:focus {
	box-shadow: none;
}

.filter legend button svg {
	height: 1.2em;
	margin-left: 0.5em;
	margin-top: 0.2em;
}

[aria-expanded="true"] .vert {
  display: none;
}

.filter legend button:focus svg {  
  box-shadow: 0 0 1px 4px #ffbf47;
}


[aria-expanded="true"] + .filter-wrapper {
	display: block;
}

[aria-expanded="false"] + .filter-wrapper {
	display: none;
}

.filter form {
	position: relative;
}

.filter .secondaryButton:first-child {
	// position: sticky;
	// top: 0;
	// z-index: 2;
	// margin-bottom: 20px;
}

.filter .secondaryButton:last-child {
	// position: sticky;
	// bottom: 0;
	// z-index: 2;
	// margin-top: 10px;
}

.current-filters {
	margin-bottom: 50px;
}

.current-filters h3 {
	margin-bottom: 20px;
}