header {
  display: block;
  background-color: $colour-black;
  padding: 16px;
  color: $colour-white;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 0.8;
}

header span {
  font-weight: normal;
  color: $colour-yellow;
}