.selectAll {
	display: inline-block;
	vertical-align: top;
}


.inbox {
	list-style: none;
	margin-left: 0px;
}

.inbox li {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0;
}

.inbox li a {
	color: #000;
	overflow: hidden;
	display: block;
	padding-bottom: $spacing-scale-2;
	padding-top: $spacing-scale-2;
}

.inbox li:hover {
	background-color: #ddd;
}

.inbox li label {
	display: none;
}

.inbox li input {
	float: left;
	margin-right: 10px;
	margin-top: 14px;
	margin-left: 10px;
}

.inbox-recipient,
.inbox-subject,
.inbox-date {
	float: left;
	padding-right: 10px;
	white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.inbox-recipient {
	width: 15%;
}

.inbox-subject {
	width: 65%;
}

.inbox-date {
	width: 20%;
	text-align: right;
}