.wrapperPane {
	@media(min-width: 45em) {
		@supports ( display: grid ) {
			height: 100vh;
			display: grid;
			grid-template-rows: min-content min-content auto;
			grid-template-columns: 100%;
		}
	}
}

.bodyPane {
	@media(min-width: 45em) {
		@supports ( display: grid ) {
			min-height: 0;
			display: grid;
			grid-template-columns: 300px auto;
		}
	}
}

.subNavPane {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	@media(min-width: 45em) {
		background-color: $colour-gray-300;
		@supports ( display: grid ) {
			padding: $spacing-scale-6 ($spacing-scale-3 - 1) $spacing-scale-6 $spacing-scale-3;
		}
	}
}

.contentPane {
	@media(min-width: 45em) {
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}