.menu {
	padding: 0 0 20px;
	position: relative;
	display: inline-block;
}

.menu [type=button] {
	@include secondaryButton;
	border-radius: 0;
}

.menu [type=button] span {
	font-size: 2em;
	position: relative;
	top: 0.1em;
	left: 2px;
	line-height: 0;
}

[role=menuitem] {
	@include button($colour-white);
	display: block;
	text-align: left;
	width: 100%;
	color: #222;
	border-radius: 0;
	border-bottom: 1px solid #ccc;
	&:focus {
		position: relative; 
		z-index: 10;
		background-color: #ccc;
	}

	@media(min-width: 45em) {
		@include secondaryButton;
		border-radius: 0;
		border-bottom: none;
		width: auto;
		display: inline-block;
		vertical-align: top;
	}
}

[role=menu] {
	width: 10em;
	background-color: $colour-white;
	border: 3px solid #aaa;
}

.enhanced [role=menu] {
	position: absolute;
	@media(min-width: 45em) {
		border: none;
		width: auto;
		position: static;
	}
}

[aria-expanded="true"] + [role=menu] {
	display: block;
}

[aria-expanded="false"] + [role=menu] {
	display: none;
}
