.primaryNav {
	padding-left: 14px;
	padding-right: 14px;
	background-color: $colour-grey-light;
}

.primaryNav ul {
	list-style: none;
	display: block;
	margin: 0;
	font-size: 1em;
	white-space: nowrap;
	overflow-x: scroll;
}

.primaryNav li {
	display: inline-block;
	margin: 0;
	line-height: 0.5em;
	font-size: 1.2em;
}

.primaryNav a:link,
.primaryNav a:visited {
	text-decoration: none;
	display: block;
	padding: 24px 14px 20px;
	border-bottom: 4px solid $colour-grey-light;
}

.primaryNav a:hover,
.primaryNav a.primaryNav-active {
	text-decoration: none;
}

.primaryNav a.primaryNav-active {
	font-weight: bold;
	border-bottom: 4px solid $colour-darkblue;
}