.primaryNav {
	background-color: $colour-black;
}

.primaryNav ul {
	list-style: none;
	display: block;
	margin: 0;
	white-space: nowrap;
	overflow-x: scroll;
	padding-left: 0;
}

.primaryNav li {
	display: inline-block;
	margin: 0;
	line-height: 24 / 17;
	font-size: 1.0625em;
}

.primaryNav a:link,
.primaryNav a:visited {
	display: block;
	padding: $spacing-scale-1 $spacing-scale-2 $spacing-scale-2 - 4;
	background-color: $colour-black;
	color: $colour-white;
	border-bottom: 4px solid $colour-black;
	text-decoration: none;
}

.primaryNav a:hover {
	border-bottom: 4px solid $colour-yellow;
}

.primaryNav a.primaryNav-active {
	font-weight: bold;
	text-decoration: none;
	border-bottom: 4px solid $colour-yellow;
}