.primaryNav {
	background-color: $colour-grey-light;
}

.primaryNav ul {
	list-style: none;
	display: block;
	margin: 0;
	white-space: nowrap;
	overflow-x: scroll;
	padding-left: 0;
}

.primaryNav li {
	display: inline-block;
	margin: 0;
	line-height: 1;
}

.primaryNav a:link,
.primaryNav a:visited {
	text-decoration: none;
	display: block;
	padding: 16px 16px 12px;
	border-bottom: 4px solid $colour-grey-light;
}

.primaryNav a:hover,
.primaryNav a.primaryNav-active {
	text-decoration: none;
	background-color: $colour-grey-medium;
	border-bottom: 4px solid $colour-grey-medium;
}

.primaryNav a.primaryNav-active {
	font-weight: bold;
	border-bottom: 4px solid $colour-darkblue;
}