// Spacing
$multiple       : 5px !default;
$spacing-scale-1: $multiple;

$spacing-scale-2: $multiple * 2; // 10px
$spacing-scale-3: $multiple * 3; // 15px
$spacing-scale-4: $multiple * 4; // 20px
$spacing-scale-5: $multiple * 5; // 25px
$spacing-scale-6: $multiple * 6; // 30px
$spacing-scale-7: $multiple * 7; // 35px
$spacing-scale-8: $multiple * 8; // 40px
$spacing-scale-9: $multiple * 9; // 45px
$spacing-scale-10: $multiple * 10; // 50px