.subNav {
  white-space: nowrap;
  line-height: 1;
  font-size: 1.0625em;
  background-color: $colour-grey-extra-light;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      background-color: $colour-white;
      white-space: normal;
    }
  }
}

.subNav p {
  font-weight: bold;
  display: none;
  margin-bottom: 8px;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      display: block;
    }
  }
}

.subNav ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      white-space: normal;
      margin-bottom: 48px;
      padding: 0;
      display: block;
    }
  }
}

.subNav ul:last-child {
  padding-right: 16px;
  padding-left: 0;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      padding-right: 0;
    }
  }
}

.subNav li {
  margin-bottom: 0;
  line-height: 1;
  display: inline-block;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      display: block;
    }
  }
}

.subNav a {
  padding: $spacing-scale-2;
  text-decoration: none;
  display: block;
  color: $colour-black;
  @media(min-width: 45em) {
    border-left: 5px solid $colour-white;
  }
}

.subNav a:hover {
  background-color: $colour-grey-extra-light;
  @media(min-width: 45em) {
    border-left: 5px solid $colour-black;
  }
}

.subNav .subNav-link--active {
  font-weight: bold;
  background-color: $colour-grey-light;
  @media(min-width: 45em) {
    border-left: 5px solid $colour-black;
  }
}