.subNav {

}

.subNav ul {
  margin: 0;
  list-style: none;
}

.subNav li {
  margin-bottom: 0;
}

.subNav a {
  padding: 8px;
  display: block;
  text-decoration: none;
  border-left: 4px solid #fff;
}

.subNav a:hover {
  border-left: 4px solid $colour-blue;
}

.subNav .subNav-link--active {
  font-weight: bold;
  border-left: 4px solid $colour-darkblue;
  color: $colour-darkblue;
  background-color: $colour-grey-light;
}