.subNav {
  white-space: nowrap;
  border-top: 1px solid $colour-grey;
  border-bottom: 1px solid $colour-grey;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      white-space: normal;
      border-top: none;
      border-bottom: none;
      padding: 0;
    }
  }
}

.subNav p {
  font-weight: bold;
  display: none;
  margin-bottom: 8px;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      display: block;
    }
  }
}

.subNav ul {
  display: inline-block;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      white-space: normal;
      margin-bottom: 48px;
      padding: 0;
      display: block;
    }
  }
}

.subNav ul:last-child {
  padding-right: 16px;
  padding-left: 0;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      padding-right: 0;
    }
  }
}

.subNav li {
  margin-bottom: 0;
  line-height: 1;
  display: inline-block;
  @media(min-width: 45em) {
    @supports ( display: grid ) {
      display: block;
    }
  }
}

.subNav a {
  padding: $spacing-scale-2;
  text-decoration: none;
  display: block;
}

.subNav a:hover {
  background-color: $colour-grey-light;
}

.subNav .subNav-link--active {
  font-weight: bold;
  color: $colour-darkblue;
  background-color: $colour-grey-light;
}