$type: (

  xl: (

    base: (
      font-size: em(36),
      line-height: (48/36)
    ),

    md: (
      font-size: em(60),
      line-height: (72/60)
    )

  ),

  l: (

    base: (
      font-size: em(24),
      line-height: (32/24)
    ),

    md: (
      font-size: em(36),
      line-height: 1.111111 // intended pixels (40) / font size (36)
    )

  ),

  m: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    ),

    md: (
      font-size: 19px,
      line-height: (24/19)
    )

  ),

  body: (

    base: (
      font-size: em(16),
      line-height: (24/16)
    ),

    md: (
      font-size: em(18),
      line-height: (24/18)
    )

  ),

  button: (

    base: (
      font-size: em(16),
      line-height: (24/16)
    ),

    md: (
      font-size: em(18),
      line-height: (24/18)
    )

  )
);


@mixin propValue($map) {
  @each $prop, $value in $map {
    #{$prop}: #{$value};
  }
}


@mixin typography($element) {

  $map: map-get($type, $element);
  $base: map-get($map, base);

  @include propValue($base);

  $mq: map-remove($map, base);

  @each $bp, $attr in $mq {
    @include mq($bp) {
      @include propValue($attr);
    }
  }

}