$type: (

  xl: (

    base: (
      font-size: 36px,
      line-height: (48/36)
    ),

    md: (
      font-size: 60px,
      line-height: (72/60)
    )

  ),

  l: (

    base: (
      font-size: 24px,
      line-height: (32/24)
    ),

    md: (
      font-size: 36px,

      line-height: 1.111111 // intended pixels (40) / font size (36)
    )

  ),

  m: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    ),

    md: (
      font-size: 19px,
      line-height: (24/19)
    )

  ),

  body: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    ),

    md: (
      font-size: 18px,
      line-height: (24/18)
    )

  ),

  button: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    )

  ),


  font48: (

    base: (
      font-size: 36px,
      line-height: (48/36)
    ),

    lg: (
      font-size: 48px,
      line-height: (56/48)
    )

  ),

  font36: (

    base: (
      font-size: 24px,
      line-height: (32/24)
    ),

    lg: (
      font-size: 36px,
      line-height: (48/36)
    )

  ),

  font24: (

    base: (
      font-size: 18px,
      line-height: (24/18)
    ),

    lg: (
      font-size: 24px,
      line-height: (32/24)
    )

  ),

  font18: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    ),

    lg: (
      font-size: 18px,
      line-height: (24/18)
    )

  ),

  font16: (

    base: (
      font-size: 16px,
      line-height: (24/16)
    )

  ),

  font14: (

    base: (
      font-size: 14px,
      line-height: (24/14)
    )

  )

);


@mixin propValue($map) {
  @each $prop, $value in $map {
    #{$prop}: #{$value};
  }
}


@mixin typography($element) {

  $map: map-get($type, $element);
  $base: map-get($map, base);

  @include propValue($base);

  $mq: map-remove($map, base);

  @each $bp, $attr in $mq {
    @include mq($bp) {
      @include propValue($attr);
    }
  }

}