.search:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.filter {
	float: left;
	width: 20%;
	padding-right: 5%;
	padding-bottom: 30px;
}

.filter h2 {
	margin-bottom: 30px;
}

.products {
	float: left;
	width: 75%;
}

.product {
	float: left;
	background-color: #eee;
	height: 200px;
	width: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.filter .field {
	margin-bottom: 0;
}

.filter .field-options {
	margin-bottom: 30px;
}

.filter legend {
	display: block;
	width: 100%;
}

.filter button {
	all: inherit;
	border: 0;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.filter button:focus {
	box-shadow: none;
}

.filter button svg {
	height: 1.2em;
	margin-left: 0.5em;
	margin-top: 0.2em;
}

[aria-expanded="true"] .vert {
  display: none;
}

.filter button:focus svg {  
  box-shadow: 0 0 1px 4px #ffbf47;
}

.filter form {
	position: relative;
}

.filter .secondaryButton:first-child {
	// position: sticky;
	// top: 0;
	// z-index: 2;
	// margin-bottom: 20px;
}

.filter .secondaryButton:last-child {
	// position: sticky;
	// bottom: 0;
	// z-index: 2;
	// margin-top: 10px;
}

.current-filters {
	margin-bottom: 50px;
}

.current-filters h3 {
	margin-bottom: 20px;
}