{% extends 'layouts/raw.html' %}


{% block mainContent %}

	{{h1({ text: 'Sign up' })}}

	<form novalidate>
		{{textBox({
			name: 'first-name',
			label: 'First name'
		})}}

		{{textBox({
			name: 'last-name',
			label: 'Last name'
		})}}

		{{textBox({
			name: 'email',
			label: 'Email address'
		})}}

		{% set hint = "Must be at least eight characters and include at least one number and one symbol" %}

		{{textBox({
			name: 'password',
			label: 'Password',
			type: 'password',
			hint: hint
		})}}

		{{primaryButton({
			text: 'Sign up',
			name: 'signup'
		})}}
	</form>

{% endblock mainContent %}
