.errorSummary {
	border: 5px solid $colour-red;
	padding: 20px;
	margin-bottom: 40px;
	max-width: 40em;
}

.errorSummary h2 {
	margin-top: 0;
}

.errorSummary:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow;
}

.errorSummary-isHidden {
	display: none;
}

.errorSummary h2 {
	margin-bottom: 10px;
}

.errorSummary ul {
	color: $colour-red;
	list-style: none;
    margin-left: 0;
    margin-bottom: 0;
}

.errorSummary a {
	color: $colour-red;
	font-weight: bold;
}

.errorSummary a:focus {
	outline: none;
  box-shadow: 0 0 1px 4px $colour-yellow;
}