<nav class="subNav">
  <ul>
    <li><a {% if cnav == 'autocomplete'%}class="subNav-link--active"{%endif%} href="/components/autocomplete">Autocomplete</a></li>
    <li><a {% if cnav == 'button'%}class="subNav-link--active"{%endif%} href="/components/button">Button</a></li>
    <li><a {% if cnav == 'character-countdown'%}class="subNav-link--active"{%endif%} href="/components/character-countdown">Character countdown</a></li>
    <li><a {% if cnav == 'checkboxes'%}class="subNav-link--active"{%endif%} href="/components/checkboxes">Checkboxes</a></li>
    <li><a {% if cnav == 'date-picker'%}class="subNav-link--active"{%endif%} href="/components/date-picker">Date picker</a></li>
    <li><a {% if cnav == 'file-picker'%}class="subNav-link--active"{%endif%} href="/components/file-picker">File picker</a></li>
    <li><a {% if cnav == 'memorable-date'%}class="subNav-link--active"{%endif%} href="/components/memorable-date">Memorable date</a></li>
    <li><a {% if cnav == 'menu'%}class="subNav-link--active"{%endif%} href="/components/menu">Menu</a></li>
    <li><a {% if cnav == 'password-reveal'%}class="subNav-link--active"{%endif%} href="/components/password-reveal">Password reveal</a></li>
    <li><a {% if cnav == 'radios'%}class="subNav-link--active"{%endif%} href="/components/radios">Radios</a></li>
    <li><a {% if cnav == 'seat-chooser'%}class="subNav-link--active"{%endif%} href="/components/seat-chooser">Seat chooser</a></li>
    <li><a {% if cnav == 'select-box'%}class="subNav-link--active"{%endif%} href="/components/select-box">Select box</a></li>
    <li><a {% if cnav == 'stepper'%}class="subNav-link--active"{%endif%} href="/components/stepper">Stepper</a></li>
    <li><a {% if cnav == 'textarea'%}class="subNav-link--active"{%endif%} href="/components/textarea">Textarea</a></li>
    <li><a {% if cnav == 'text-box'%}class="subNav-link--active"{%endif%} href="/components/text-box">Text box</a></li>
  </ul>
</nav>