<nav class="subNav">
  <ul>
    <li><a href="/examples/registration-form">Registration form</a></li>
    <li><a href="/examples/telephone-input">Optional telephone field</a></li>
    <li><a href="/examples/delivery-options-form">Delivery options form</a></li>
    <li><a href="/examples/character-countdown">Character countdown</a></li>
    <li><a href="/examples/payment-form">Payment form</a></li>
    <li><a href="/examples/autocomplete">Autocomplete</a></li>
    <li><a href="/examples/memorable-date">Memorable date</a></li>
    <li><a href="/examples/date-picker">Date picker</a></li>
    <li><a href="/examples/stepper">Stepper</a></li>
    <li><a href="/examples/seat-chooser">Seat chooser</a></li>
    <li><a href="/examples/seat-chooser--nested">Seat chooser (nested)</a></li>
    <li><a href="/examples/login-form">Login form</a></li>
    <li><a href="/examples/inbox">Inbox</a></li>
    <li><a href="/examples/search-form">Search form</a></li>
    <li><a href="/examples/filter-form">Filter form</a></li>
    <li><a href="/examples/file-picker">File picker</a></li>
    <li><a href="/examples/dropzone">Dropzone</a></li>
    <li><a href="/examples/add-another">Add another</a></li>
  </ul>
</nav>