<nav class="primaryNav">
	<ul>
		<li><a {% if nav == 'home'%}class="primaryNav-active"{%endif%} href="/">Home</a></li>
		<li><a {% if nav == 'styles'%}class="primaryNav-active"{%endif%} href="/styles">Styles</a></li>
		<li><a {% if nav == 'components'%}class="primaryNav-active"{%endif%} href="/components">Components</a></li>
		<li><a {% if nav == 'patterns'%}class="primaryNav-active"{%endif%} href="/patterns">Patterns</a></li>
		<li><a {% if nav == 'examples'%}class="primaryNav-active"{%endif%} href="/examples">Examples</a></li>
	</ul>
</nav>