.datepicker [type=text],
.datepicker [type=date] {
	max-width: 10em;
	margin-right: 10px;
	vertical-align: top;
}

.datepicker button[aria-haspopup] {
	@include secondaryButton;
}

.datepicker-wrapper {
	border-left: 6px solid $colour-black;
	padding: 0px 10px;
	max-width: 400px;
	margin-top: 1em;
}

.datepicker-calendar {
	border: 1px solid #ccc;
	max-width: 400px;
	padding-bottom: 20px;
}

.datepicker-actions {
	text-align: center;
	border-bottom: 1px solid #ccc;
	margin-bottom: 6px;
}

.datepicker-actions {
  @include clearfix;
}

.datepicker [role=status] {
	display: inline-block;
	font-weight: bold;
	font-size: 1.2em;
	padding-top: 12px;
}

.datepicker-actions button {
  -webkit-appearance: none;
  background: none;
  font-size: 1em;
  line-height: 1.25;
  padding: 1.1em 1.3em 0.8em;
  vertical-align: bottom;
  font-weight: bold;
  border: none;
  &:first-child {
		float: left;
  }

  &:last-child {
		float: right;
  }
}

.datepicker-next:hover,
.datepicker-back:hover {
   background-color: #eee;
   color: $colour-black !important;
}

.datepicker-next:focus,
.datepicker-back:focus {
	outline-offset: 0;
  outline: 3px solid $colour-yellow;
}

.datepicker [role=gridcell] {
	cursor: default;
	&:focus {
		outline-offset: 0;
  	outline: 3px solid $colour-yellow;
	}
}

.datepicker-previousMonthDay,
.datepicker-nextMonthDay {
	color: #999;
}

.datepicker-day-isToday {
	position: relative;
}

.datepicker-today {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 0.5em;
	text-align: center;
}

.datepicker [aria-selected=true],
.datepicker [role=gridcell]:hover {
  background-color: #005EA5;
  border-color: #005EA5;
  color: white;
}

.datepicker table {
	table-layout: fixed;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.datepicker td,
.datepicker th {
	padding: 9px 0px;
	text-align: center;
	font-size: 1.2em;
}

.datepicker tr:last-child td {
	border-bottom: none;
}