<!doctype html>

{% from "h1/macro.html" import h1 %}
{% from "h2/macro.html" import h2 %}
{% from "error-summary/macro.html" import errorSummary %}
{% from "text-box/macro.html" import textBox %}
{% from "file-input/macro.html" import fileInput %}
{% from "textarea/macro.html" import textarea %}
{% from "select-box/macro.html" import selectBox %}
{% from "datalist/macro.html" import datalist %}
{% from "radios/macro.html" import radioButtons %}
{% from "checboxes/macro.html" import checkboxes %}
{% from "memorable-date/macro.html" import memorableDate %}
{% from "seat-chooser/macro.html" import seatChooser %}
{% from "primary-button/macro.html" import primaryButton %}
{% from "secondary-button/macro.html" import secondaryButton %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}NoStyle{% endblock title %}</title>
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/ico">
		<link rel="icon" href="/public/img/favicon.ico" type="image/ico">
		<script>
			document.documentElement.className = 'enhanced';
		</script>

		{% block css %}
		<!-- build:css(src) /public/css/app.min.css -->
			<link rel="stylesheet" href="/public/css/main.css">
		<!-- endbuild -->
		{% endblock css %}
		{% block pageCss %}
		{% endblock pageCss %}
	</head>
	<body>
		<svg style="display: none">
		  <symbol id="warning-icon" viewBox="0 0 10 10">
		   <path d="m5 1-4 8h8zm-.36 2.6h.7v3h-.7v-2.8594zm.36 3.4c.4 0 .5.3.5.6-.1.3-.4.45-.63.4-.27-.1-.47-.4-.37-.63.07-.17.20-.37.50-.37z">
		  </symbol>
		</svg>

		{% block body %}{% endblock %}

		{% block script %}
		<!-- build:js(src) /public/js/vendor.min.js -->
			<script src="/public/js/vendor/jquery.js"></script>
		<!-- endbuild -->
		<!-- build:js(src) /public/js/app.min.js -->
			<script src="/public/components/stepper/Stepper.js"></script>
			<script src="/public/components/select-all/SelectAll.js"></script>
			<script src="/public/components/autocomplete/Autocomplete.js"></script>
			<script src="/public/components/form-validator/FormValidator.js"></script>
			<script src="/public/components/checkbox-collapser/CheckboxCollapser.js"></script>
			<script src="/public/components/checkbox-limiter/CheckboxLimiter.js"></script>
			<script src="/public/components/character-countdown/CharacterCountdown.js"></script>
			<script src="/public/components/date-picker/DatePicker.js"></script>
			<script src="/public/components/menu/Menu.js"></script>
			<script src="/public/components/add-another/AddAnother.js"></script>
			<script src="/public/components/dropzone/Dropzone.js"></script>
			<script src="/public/components/search-form/SearchForm.js"></script>
			<script src="/public/components/password-revealer/PasswordRevealer.js"></script>
			<script src="/public/components/filter-collapser/FilterCollapser.js"></script>
			<script src="/public/components/filter-requester/FilterRequester.js"></script>
			<script src="/public/components/filter-menu/FilterMenu.js"></script>
		<!-- endbuild -->
		{% endblock script %}

		{% block pageScript %}
		{% endblock pageScript %}
	</body>
</html>
