<!doctype html>

{% import "macros/headings.html" as headings %}
{% import "macros/form-elements.html" as formElements %}
{% import "macros/buttons.html" as buttons %}
{% import "error-summary/macro.html" as errorSummary %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}NoStyle{% endblock title %}</title>
		<link rel="shortcut icon" href="/public/img/favicon.ico" type="image/ico">
		<link rel="icon" href="/public/img/favicon.ico" type="image/ico">
		<script>
			document.documentElement.className = 'enhanced';
		</script>

		{% block css %}
		<!-- build:css(src) /public/css/app.min.css -->
			<link rel="stylesheet" href="/public/css/main.css">
		<!-- endbuild -->
		{% endblock css %}
		{% block pageCss %}
		{% endblock pageCss %}
	</head>
	<body>
		<svg style="display: none">
		  <symbol id="warning-icon" viewBox="0 0 10 10">
		   <path d="m5 1-4 8h8zm-.36 2.6h.7v3h-.7v-2.8594zm.36 3.4c.4 0 .5.3.5.6-.1.3-.4.45-.63.4-.27-.1-.47-.4-.37-.63.07-.17.20-.37.50-.37z">
		  </symbol>
		</svg>
		{% block header %}{% endblock header%}
		<main class="main">
			{% block content %}
			{% endblock content %}
		</main>

		{% block footer %}
		{% endblock footer %}

		{% block script %}
		<!-- build:js(src) /public/js/vendor.min.js -->
		<script src="/public/js/vendor/jquery.js"></script>
		<!-- endbuild -->
		<!-- build:js(src) /public/js/app.min.js -->
			<script src="/components/stepper/Stepper.js"></script>
			<script src="/public/js/FormValidator.js"></script>
			<script src="/public/js/CheckboxCollapser.js"></script>
			<script src="/public/js/CharacterCountdown.js"></script>
			<script src="/public/js/Autocomplete.js"></script>
			<script src="/public/js/DatePicker.js"></script>
			<script src="/public/js/SeatLayoutEnhancer.js"></script>
			<script src="/public/js/SeatLimiter.js"></script>
			<script src="/public/js/Menu.js"></script>
			<script src="/public/js/AddAnotherForm.js"></script>
			<script src="/public/js/Dropzone.js"></script>
			<script src="/public/js/SearchForm.js"></script>
			<script src="/public/js/PasswordRevealer.js"></script>
			<script src="/public/js/FilterCollapser.js"></script>
			<script src="/public/js/FilterRequester.js"></script>
			<script src="/public/js/FilterMenu.js"></script>
			<script src="/public/js/SelectAll.js"></script>
		<!-- endbuild -->
		{% endblock script %}

		{% block pageScript %}
		{% endblock pageScript %}
	</body>
</html>
