.firstClass .field-legend,
.economyClass .field-legend {
	font-weight: normal;
	font-style: italic;
}

.plane-row {
	overflow: hidden;
	margin-bottom: 8px;
}

.plane-seat {
	float: left;
	margin-right: 4px;
}

.plane-seat--economyClass:nth-child(3) {
	margin-right: 8px;
}

.plane-seat--firstClass:nth-child(2) {
	margin-right: 32px;
}

.plane-seat label {
	padding: 8px;
	margin-bottom: 0;
	background-color: $colour-grey-light;
	position: relative;
}

.plane-seat label:hover {
	background-color: $colour-grey-medium;
}

.enhanced .plane-seat input {
	position: absolute;
	left: -9999em;
}

/*.plane-seat-isTaken label:after {
	content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}*/

.enhanced .plane-seat label {
	padding: 0;
	background: none;
}

.enhanced .plane-seatNumber {
	border-radius: 4px;
	margin: 4px 0px;
	border: 2px solid $colour-grey-medium;
	border-top: 2px solid $colour-grey-light;
	width: 1.3em;
	padding: 8px;
	text-align: center;
	display: block;
	background-color: $colour-grey-light;
}

.enhanced .plane-seatNumber:hover {
	border-color: $colour-grey-medium;
	background-color: $colour-grey-medium;
}

.enhanced [type="checkbox"]:focus + .plane-seatNumber {
	border: 2px solid $colour-yellow;
}

.enhanced [type="checkbox"]:checked + .plane-seatNumber {
	background-color: $colour-darkblue;
  border-color: $colour-darkblue;
  color: white;
}

.enhanced [type="checkbox"]:disabled + .plane-seatNumber {
	text-decoration: line-through;
	background-color: $colour-grey-light;
	border-color: $colour-grey-light;
	color: $colour-grey;
}
