<fieldset class="field" {% if params.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{params.legend}}</span>
    {% if params.hint %}
      <span class="field-hint">{{params.hint | safe}}</span>
    {% endif %}
    {% if params.error %}
      <span class="field-error"><svg width="1.3em" height="1.3em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use></svg> {{-params.error}}</span>
    {% endif %}
  </legend>
  {% for row in params.rows %}
    <div class="plane-row">
      {% for choice in row.seats %}
        <div class="plane-seat {{params.seatModifier}} {% if choice.disabled %}plane-seat-isTaken{% endif%}">
          <label for="{{choice.id}}">
            <input
              type="checkbox"
              name="{{params.name}}"
              value="{{choice.value}}"
              id="{{choice.id}}"
              {% if choice.disabled %}disabled{% endif%}
              {% if choice.checked %}checked{% endif%}>
            <span class="plane-seatNumber">{{choice.label | safe}}</span>
          </label>
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</fieldset>