{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% import "macros/headings.html" as headings %}

{% block mainContent %}

	{{headings.h1('Design system')}}

	<p>Use this design system to make your service or application consistent. Learn from the research and experience of others and avoid repeating work that’s already been done.</p>

	{{headings.h2('Styles')}}

	<p>The core styles (or perceptual patterns) that affect the look and feel of your service. This includes Colour, Typography and Layout.</p>

	{{headings.h2('Components')}}
	<p>Re-usable parts of the user interface. From small form elements like radio buttons to larger ones such as the seat chooser.</p>

	{{headings.h2('Patterns')}}
	<p>Best practice design solutions and guidance for specific user-focused tasks such as helping users upload files, recover from errors or pay for something.</p>

{% endblock mainContent %}