{% extends 'layouts/default.html' %}
{% set nav = "home" %}

{% block mainContent %}

	{{h1({ text: 'Design system' })}}

	<p class="p">Solve the same problems in the same way. Save time, and solve newer, bigger problems. Iterate through research.</p>

	<div class="introBits">
		<div>
			{{h2({ text: 'Styles' })}}

			<p class="p">The core styles (or perceptual patterns) that affect the general look and feel. This includes colour, typography and layout.</p>
			<p class="p"><a href="/styles">Browse styles</a></p>
		</div>
		<div>
			{{h2({ text: 'Components' })}}
			<p class="p">Re-usable parts of the interface. From buttons to form elements to menus.</p>
			<p class="p"><a href="/components">Browse components</a></p>
		</div>
		<div>
			{{h2({ text: 'Patterns' })}}
			<p class="p">Guidance for user-focused tasks such as helping users upload files or pay for something.</p>
			<p class="p"><a href="/patterns">Browse patterns</a></p>
		</div>
		<div>
			{{h2({ text: 'Examples' })}}
			<p class="p">Standalone examples of components and patterns.</p>
			<p class="p"><a href="/examples">Browse examples</a></p>
		</div>
	</div>
{% endblock mainContent %}