<fieldset class="field" {% if params.error %}aria-invalid="true"{%endif%}>
  <legend>
    <span class="field-legend">{{params.legend}}</span>
    {% if params.hint %}
      <span class="field-hint">{{params.hint}}</span>
    {% endif %}
    {% if params.error %}
      <span class="field-error"><svg width="1.3em" height="1.3em"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#error-icon"></use></svg> {{-params.error}}</span>
    {% endif %}
  </legend>
  <div class="field-options">
    {% for choice in params.choices %}
      <div class="field-radioButton">
        <label for="{{choice.id}}">
          <input type="radio" name="{{params.name}}" value="{{choice.value}}" id="{{choice.id}}"

          {% if choice.attributes %}{{choice.attributes | safe}}{%endif%}

          {% if choice.checked %}checked{% endif %}>
          {{choice.label}}
        </label>
      </div>
    {% endfor %}
  </div>
</fieldset>